.About p.about {
  margin-left: 15%;
  margin-right: 15%;
  font-size: 1.1rem;
}

.about a {
  color: rgb(124, 88, 124);
  font-weight: 700;
  text-decoration: none;
}

.About .photo img {
  width: 500px;
  height: 350px;
}

.About .photo {
  padding: 10px;
  margin: 40px 5px 5px 5px;
}

.divider {
  margin-bottom: 0;
}
