/* Site wide */
.btn {
  background-color: rgb(124, 88, 124);
  border-color: rgb(124, 88, 124);
}

.btn:hover {
  background-color: rgb(124, 88, 124);
  border-color: rgb(124, 88, 124);
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  margin: 0px 60px;
  padding: 0px;
}

/* SITE WIDE END */

/* Header */
.navbar-brand {
  font-weight: 600;
}
/* HEADER END */

/* Footer */
footer {
  background-color: hsl(228, 14%, 93%);
  font-size: 12px;
}

footer h4 {
  text-transform: uppercase;
  font-size: 16px;
}

footer p {
  margin-bottom: 2px;
}

footer a {
  text-decoration: none;
  color: #000;
}

.footer-top a:hover {
  font-weight: 700;
  color: #000;
}

.credit {
  font-size: 10px;
  text-align: right;
  background-color: rgb(44, 44, 44);
  padding-bottom: 2px;
}

.credit a {
  padding-right: 10px;
}

.credit a:hover {
  text-decoration: underline;
}

.footer-logo {
  padding-top: 16px;
}

.footer-logo img {
  width: 75px;
}

.footer-nav a {
  margin-bottom: 2px;
}

.footer-top,
.footer-info {
  display: flex;
}

/* Project notes banner */
.project-notes {
  background-color: rgb(124, 88, 124);
  color: #fff;
  flex-basis: 100%;
  line-height: 18px;
  opacity: 0.95;
  padding: 5px 0px 0px;
}

.project-notes a {
  color: #fff;
  text-decoration: none;
}

.project-notes a:hover {
  color: #fff;
  text-decoration: underline;
}

.project-notes:hover {
  opacity: 1;
}

.git-project-link {
  font-weight: 700;
}

.footer-top {
  padding: 30px 12px 20px;
}

.thanks {
  margin-top: 10px;
  margin-bottom: 15px;
}

/* Desktop footer */
@media only screen and (min-width: 768px) {
  .footer-top {
    margin: 0px 104px;
  }

  .footer-logo {
    text-align: left;
  }

  .footer-profiles,
  .footer-nav {
    margin: 10px 30px;
    text-align: left;
  }
}

/* Mobile footer */
@media only screen and (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column;
  }

  .footer-logo {
    padding-bottom: 20px;
  }

  .footer-top,
  .footer-info {
    flex-direction: column;
  }

  .footer-profiles,
  .footer-nav {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}

/* FOOTER END */
