.accordion {
  --bs-accordion-active-color: #fff;
  --bs-accordion-active-bg: rgb(124, 88, 124);
}

.accordion-body {
  border-radius: 10px;
}

.accordion-body input {
  margin-right: 15px;
}

.accordion-button {
  font-size: 16px;
  font-weight: 600;
  color: rgb(124, 88, 124);
  margin: 0px !important;
}

.accordion-item {
  color: rgb(124, 88, 124);
}

.accordion-button:hover {
  background-color: rgb(124, 88, 124);
  color: #fff;
}

.deactivated {
  opacity: 0.8;
  pointer-events: none;
}

.dropdowns {
  background-color: #fff;
  padding: 20px 0px 10px;
  text-align: left;
  border-radius: 10px;
}

.dropdowns p {
  padding-left: 20px;
}

.ViewAllFruits {
  padding-bottom: 40px;
}

.filter-section {
  min-width: 200px;
}

.fruit-display {
  margin: 10px 60px;
}

.left-main {
  margin-top: 10px;
}

.sort-dropdown {
  margin-right: 60px;
}

.sort-dropdown button {
  border-radius: 10px;
  margin: 10px;
}

.sort-section {
  display: flex;
  justify-content: flex-end;
}
