.Home .other-search-options button {
  font-size: 14px;
  margin: 5px;
}

body {
  padding-top: 100px;
}

/* Header */
.navbar-brand {
  font-size: 36px !important;
  font-weight: 600;
}
/* Header END */
