body {
  padding-top: 100px;
  text-align: center;
}

.Home .section {
  min-height: 61vh;
}

.other-search-options {
  display: flex;
  justify-content: center;
}

.other-search-options button {
  font-size: 14px;
  margin: 5px;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.main {
  display: flex;
}

.left-main {
  position: sticky;
}

.container-fluid {
  --bs-gutter-x: 0rem;
}

.divider {
  margin-bottom: 0;
}
