.Menu .price {
  text-decoration: underline 0.1rem;
  color: rgb(124, 88, 124);
  font-size: 1.5rem;
}

.Menu .smoothie-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Menu .smoothie-bar Button {
  margin: 5px;
}

.divider {
  margin-bottom: 0;
}

h2.smoothie.name {
  color: rgb(124, 88, 124);
  text-align: center;
  display: flex;
  align-items: center;
  margin-left: 35rem;
}

div.listing-card {
  background: auto;
  width: auto;
}

.box-info {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.recipe .smoothie-images {
  margin: 20px;
  max-width: 400px;
  max-height: auto;
}

.smoothie-images {
  width: 300px;
  height: 300px;
  border-radius: 0;
}

.smoothie-listing {
  width: 300px;
  border-radius: 0;
  border-width: 0px;
  opacity: 0.95;
  margin: 10px;
}

.smoothie-listing:hover {
  opacity: 1;
}

.smoothie-title {
  font-weight: 600;
  letter-spacing: 0.01em;
  text-align: left;
  padding: 10px;
  opacity: 1 !important;
}

.smoothie-section {
  display: flex;
}

.Menu li {
  list-style: none;
}

.Menu ul {
  padding-left: 0px;
}

.Menu h4 {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
}

.Menu .card-body h4 {
  padding-top: 70px;
}

.Menu .card-body {
  height: 300px;
}

@media only screen and (max-width: 768px) {
  .Menu .column {
    display: none !important;
  }
}
