.Menu .smoothie-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Menu .smoothie-bar Button {
  margin: 5px;
}

.Menu .smoothies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Menu h2.price {
  text-decoration: underline 0.1rem;
  color: rgb(124, 88, 124);
  font-size: 1.5rem;
}

.divider {
  margin-bottom: 0;
}

/*SMOOTHIES*/

.recipe,
.box-info {
  display: flex;
  justify-content: center;
}

.recipe .smoothie-images {
  margin: 20px;
  width: 400px;
  height: 400px;
}

.recipe-info {
  margin: 20px;
  text-align: left;
  padding: 20px;
}

.recipe-image {
  width: 200px;
  margin: 10px;
}

.SmoothieRecipe h3 {
  text-align: left;
}
