.card-body {
  padding: 5px;
  width: 300px;
}

.listing-card {
  background-color: #fff;
  border-radius: 10px;
  margin: 10px 10px;
  opacity: 0.95;
  padding: 10px;
  width: 340px;
  -webkit-box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.06);
  box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.06);
}

.listing-card:hover {
  opacity: 1;
}

.listing-details {
  border: 2px solid rgb(124, 88, 124);
  display: flex;
  margin: 10px;
  text-align: left;
}

.listing-details .detail-headings {
  font-weight: 800;
}

.listing-info,
.listing-nutrition {
  margin: 5px;
  padding: 10px;
}

.listing-info h4,
.listing-nutrition h4 {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: underline;
}

.listing-info ul,
.listing-nutrition ul {
  list-style: none;
  padding-left: 0px;
}

.listing-info li,
.listing-nutrition li {
  font-size: 13px !important;
}

.listing-image img {
  height: 300px;
  margin: 10px;
  width: 300px;
}
