.listing {
  margin: 10px 10px;
  opacity: 0.9;
  padding: 20px;
  text-align: left;
}

.catalogue {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.listing:hover {
  opacity: 1;
}

.listing h2 {
  font-size: 22px;
}

.listing h3 {
  text-decoration: underline;
  font-size: 16px;
}

.listing li {
  font-size: 14px;
}

.listing-details {
  display: flex;
}

.deactivated {
  opacity: 0.4;
  pointer-events: none;
}

.new {
  display: flex;
}

.card {
  border-width: 0px;
}
