.Recipes .section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.Recipes .smoothie-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Recipes .smoothie-bar Button {
  margin: 5px;
}

.Recipes .smoothies {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
}
